# Listas

<span style="color: red;"><b>Todos os exercícios são feitos partindo-se do pressuposto de que todas as entradas são dadas de forma correta. Casos limite não mencionados no enunciado não são abordados porque não fazem parte do exercício.</b></span>

#### 1. Faça um Programa que leia as vendas dos vendedores, mostre a venda de cada vendedor com o seu nome e a média de vendas.

In [2]:
vendas = [1000, 1500, 1200, 1300]
vendedores = ["Fulano", "Beltrano", "Ciclano", "Lira"]

for i, venda in enumerate(vendas):
    print("O vendedor {} teve {} unidades vendidas".format(vendedores[i], venda))

total_vendas = sum(vendas)
tamanho = len(vendas)
media = total_vendas / tamanho
print("A média das venda é {}".format(media))

O vendedor Fulano teve 1000 unidades vendidas
O vendedor Beltrano teve 1500 unidades vendidas
O vendedor Ciclano teve 1200 unidades vendidas
O vendedor Lira teve 1300 unidades vendidas
A média das venda é 1250.0

#### 2. Faça um Programa que crie uma lista com as médias de cada aluno, imprima as médias de cada aluno e a quantidade de alunos com média maior que 7.

In [14]:
alunos = ["José", "Joana", "Maria", "Carla", "Mauricio", "Andre", "Tiago", "Enzo", "Amanda", "Alessandra"]
notas = [
    [10, 9, 8, 8],
    [9, 7, 6, 4],
    [10, 10, 10, 10],
    [5, 3, 10, 9],
    [7, 6, 6, 6],
    [7, 7, 8, 7],
    [7, 7, 7, 9],
    [8, 5, 6, 7],
    [10, 9, 7, 4],
    [10, 1, 3, 3],
]

qtd_alunos_maior_7 = 0
lista_media = []
total_alunos = len(notas) 

for i, nota in enumerate(notas):

    
    soma = sum(nota)
    
    media = soma / total_alunos

    lista_media.append(media)
    print("O aluno: {} teve uma média de {}".format(alunos[i], lista_media[i]))
    if media > 7:
        qtd_alunos_maior_7 = qtd_alunos_maior_7 + 1
 

print("O total de alunos que teve uma média acima de 7 é {}".format(qtd_alunos_maior_7))

O aluno: José teve uma média de 3.5
O aluno: Joana teve uma média de 2.6
O aluno: Maria teve uma média de 4.0
O aluno: Carla teve uma média de 2.7
O aluno: Mauricio teve uma média de 2.5
O aluno: Andre teve uma média de 2.9
O aluno: Tiago teve uma média de 3.0
O aluno: Enzo teve uma média de 2.6
O aluno: Amanda teve uma média de 3.0
O aluno: Alessandra teve uma média de 1.7
O total de alunos que teve uma média acima de 7 é 0

#### 3. Foram anotadas as idades e salários de 30 funcionários. Faça um programa que determine quantos funcionários com mais de 25 anos possuem salário inferior à média de todos os salários.

In [18]:
idades = [35,32,50,33,48,50,33,48,22,49,35,38,20,47,49,48,34,21,48,44,48,30,25,42,42,23,25,23,38,35]
salarios = [3739,2219,3554,3978,4014,3270,4792,3879,2981,2384,4826,2460,3680,4318,1872,1770,4640,3929,3295,1729,3965,4267,4007,1916,2987,2943,3852,4543,2055,1730]

qtd_funcionarios_25 = 0

soma_salarios = sum(salarios)
total_funcionarios = len(salarios)
media = soma_salarios / total_funcionarios

for i, idade in enumerate(idades):

    if idade > 25 and salarios[i] < media:
        qtd_funcionarios_25 = qtd_funcionarios_25 + 1

print(qtd_funcionarios_25)

12

#### 4.Em quais meses a média de temperatura foi maior do que a média nacional?

In [ ]:
meses = [
    'Janeiro',
    'Fevereiro',
    'Março',
    'Abril',
    'Maio',
    'Junho',
    'Julho',
    'Agosto',
    'Setembro',
    'Outubro',
    'Novembro',
    'Dezembro'
]

temperaturas = [30, 29, 28, 28, 25, 26, 20, 21, 19, 25, 27, 32]


soma = sum(temperaturas)
media = soma / 12

for i, temperatura in enumerate(temperaturas):
    if temperatura < media:
        print(meses[i])

Maio
Julho
Agosto
Setembro
Outubro
25.833333333333332

#### 5. As Organizações Tabajara resolveram dar um abono aos seus colaboradores em reconhecimento ao bom resultado alcançado durante o ano que passou. Para isto contratou você para desenvolver a aplicação que servirá como uma projeção de quanto será gasto com o pagamento deste abono.
<pre>Após reuniões envolvendo a diretoria executiva, a diretoria financeira e os representantes do sindicato laboral, chegou-se a seguinte forma de cálculo:
. Cada funcionário receberá o equivalente a 20% do seu salário bruto de dezembro;
. O piso do abono será de 100 reais, isto é, aqueles funcionários cujo salário for muito baixo, recebem este valor mínimo; 

Neste momento, não se deve ter nenhuma preocupação com colaboradores com tempo menor de casa, descontos, impostos ou outras particularidades. O programa deverá calcular o valor do abono concedido a cada colaborador, de acordo com a regra definida acima. Ao final, o programa deverá apresentar:</pre>
<pre>
O salário de cada funcionário, juntamente com o valor do abono;
O número total de funcionário processados;
O valor total a ser gasto com o pagamento do abono;
O número de funcionário que receberá o valor mínimo de 100 reais;
O maior valor pago como abono; A tela abaixo é um exemplo de execução do programa, apenas para fins ilustrativos.
<pre>
Projeção de Gastos com Abono
============================ 
 
Salário: 1000
Salário: 300
Salário: 500
Salário: 100
Salário: 4500
Salário: 0
 
Salário    - Abono     
R$ 1000.00 - R$  200.00
R$  300.00 - R$  100.00
R$  500.00 - R$  100.00
R$  100.00 - R$  100.00
R$ 4500.00 - R$  900.00
 
Foram processados 5 colaboradores
Total gasto com abonos: R$ 1400.00
Valor mínimo pago a 3 colaboradores
Maior valor de abono pago: R$ 900.00

In [29]:
lista_salarios = [1000, 300, 500, 200, 1500, 3000, 3400, 5000, 7000, 2000, 600, 800, 250, 1500, 20000]
abonos = []
valor_minimo = 0
# 20% do seu salário bruto de dezembro

# piso de 100 reais para quem recebe pouco

for lista_salario in lista_salarios:
    abono = lista_salario * 0.2
    if abono < 100:
        abono = 100
        valor_minimo = valor_minimo + 1
    else:
        pass
    abonos.append(abono)
    print("Salário: R$ {} - Abono: R$ {}".format(lista_salario, abono))

print("\nForam processados {} colaboradores".format(len(lista_salarios)))
print("Total gasto com abonos é de R$ {}".format(sum(abonos)))
print("Valor mínimo pago a {} colaboradores".format(valor_minimo))
print("O maior valor de abono é R${}".format(max(abonos)))

Salário: R$ 1000 - Abono: R$ 200.0
Salário: R$ 300 - Abono: R$ 100
Salário: R$ 500 - Abono: R$ 100.0
Salário: R$ 200 - Abono: R$ 100
Salário: R$ 1500 - Abono: R$ 300.0
Salário: R$ 3000 - Abono: R$ 600.0
Salário: R$ 3400 - Abono: R$ 680.0
Salário: R$ 5000 - Abono: R$ 1000.0
Salário: R$ 7000 - Abono: R$ 1400.0
Salário: R$ 2000 - Abono: R$ 400.0
Salário: R$ 600 - Abono: R$ 120.0
Salário: R$ 800 - Abono: R$ 160.0
Salário: R$ 250 - Abono: R$ 100
Salário: R$ 1500 - Abono: R$ 300.0
Salário: R$ 20000 - Abono: R$ 4000.0

Foram processados 15 colaboradores
Total gasto com abonos é de R$ 9560.0
Valor mínimo pago a 3 colaboradores
O maior valor de abono é R$4000.0

#### 6. Faça um programa que carregue uma lista com os modelos de cinco carros (exemplo de modelos: FUSCA, GOL, VECTRA etc). Carregue uma outra lista com o consumo desses carros, isto é, quantos quilômetros cada um desses carros faz com um litro de combustível. Calcule e mostre:
<pre>
a. O modelo do carro mais econômico;
b. Quantos litros de combustível cada um dos carros cadastrados consome para percorrer uma distância de 1000 quilômetros e quanto isto custará, considerando um que a gasolina custe R$ 2,25 o litro. Abaixo segue uma tela de exemplo. O disposição das informações deve ser o mais próxima possível ao exemplo. Os dados são fictícios e podem mudar a cada execução do programa.</pre>
```
Comparativo de Consumo de Combustível

Veículo 1
Nome: fusca
Km por litro: 7
Veículo 2
Nome: gol
Km por litro: 10
Veículo 3
Nome: uno
Km por litro: 12.5
Veículo 4
Nome: Vectra
Km por litro: 9
Veículo 5
Nome: Peugeout
Km por litro: 14.5

Relatório Final
 1 - fusca           -    7.0 -  142.9 litros - R$ 321.43
 2 - gol             -   10.0 -  100.0 litros - R$ 225.00
 3 - uno             -   12.5 -   80.0 litros - R$ 180.00
 4 - vectra          -    9.0 -  111.1 litros - R$ 250.00
 5 - peugeout        -   14.5 -   69.0 litros - R$ 155.17
O menor consumo é do peugeout.
```

In [38]:
print('Comparativo de Consumo de Combustível')
veiculos = ['fusca',' gol', 'uno', 'vectra', 'peugeot']
autonomias = [7, 10, 12.5, 9, 14.5]

numero_veiculo = 0
for i, veiculo in enumerate(veiculos):
    numero_veiculo = numero_veiculo + 1
    print("Veículo {}".format(numero_veiculo))
    print("Nome : {}".format(veiculo))
    print("Km por litro: {}".format(autonomias[i]))
    


    
print('\nRelatório Final')

numero_veiculo = 0

for i, veiculo in enumerate(veiculos):
    numero_veiculo = numero_veiculo + 1
    qtd_litros_mil = 1000 / autonomias[i]
    valor = round(qtd_litros_mil * 2.25, 2) 
    print("{} - {} - {} - {} - R${}".format(numero_veiculo, veiculo, autonomias[i], round(qtd_litros_mil, 2), valor ))


#a)
maximo_km = max(autonomias)
i = autonomias.index(maximo_km)
veiculo_economico = veiculos[i]

print("O modelo de carro mais econômico é {}".format(veiculo_economico))

Comparativo de Consumo de Combustível
Veículo 1
Nome : fusca
Km por litro: 7
Veículo 2
Nome :  gol
Km por litro: 10
Veículo 3
Nome : uno
Km por litro: 12.5
Veículo 4
Nome : vectra
Km por litro: 9
Veículo 5
Nome : peugeot
Km por litro: 14.5

Relatório Final
1 - fusca - 7 - 142.86 - R$321.43
2 -  gol - 10 - 100.0 - R$225.0
3 - uno - 12.5 - 80.0 - R$180.0
4 - vectra - 9 - 111.11 - R$250.0
5 - peugeot - 14.5 - 68.97 - R$155.17
O modelo de carro mais econômico é peugeot

#### 7. Uma empresa paga seus vendedores com base em comissões. O vendedor recebe \\$200 por semana mais 9 por cento de suas vendas brutas daquela semana. Por exemplo, um vendedor que teve vendas brutas de \\$3000 em uma semana recebe \\$200 mais 9 por cento de \\$3000, ou seja, um total de \\$470. Escreva um programa (usando um array de contadores) que determine quantos vendedores receberam salários nos seguintes intervalos de valores:
<pre>
$200 - $299
$300 - $399
$400 - $499
$500 - $599
$600 - $699
$700 - $799
$800 - $899
$900 - $999
$1000 em diante
</pre>

Existem várias formas de fazer. Faça primeiro da forma que parecer mais intuitiva para você.

Em seguida, caso queira um desafio:
Desafio: Crie uma forma para chegar na posição da lista a partir do salário, sem fazer vários ifs aninhados.

In [44]:
vendas = [1000, 2000, 3000, 4000, 5000, 6000, 5500, 4500, 3600]
qtd_funcionarios = 0
qtd_funcionarios_faixa2 = 0
qtd_funcionarios_faixa3 = 0
qtd_funcionarios_faixa4 = 0
qtd_funcionarios_faixa5 = 0
qtd_funcionarios_faixa6 = 0
qtd_funcionarios_faixa7 = 0
qtd_funcionarios_faixa8 = 0
qtd_funcionarios_faixa9 = 0

for venda in vendas:
    porcentagem_vendas = 0.09 * venda
    salario = 200 + porcentagem_vendas


    if salario < 300:
        qtd_funcionarios = qtd_funcionarios  + 1
        print("$200 - $299: {}".format(qtd_funcionarios))
     
    
    elif salario < 400:
        qtd_funcionarios_faixa2 = qtd_funcionarios_faixa2  + 1
        print("$300 - $399: {}".format(qtd_funcionarios_faixa2))

    elif salario < 500:
        qtd_funcionarios_faixa3 = qtd_funcionarios_faixa3  + 1
        print("$400 - $499: {}".format(qtd_funcionarios_faixa3))



    elif salario < 600:
        qtd_funcionarios_faixa4 = qtd_funcionarios_faixa4  + 1
        print("$500 - $599: {}".format(qtd_funcionarios_faixa4))

    elif salario < 700:
        qtd_funcionarios_faixa5 = qtd_funcionarios_faixa5  + 1
        print("$600 - $699: {}".format(qtd_funcionarios_faixa5))
    
    elif salario < 800:
        qtd_funcionarios_faixa6 = qtd_funcionarios_faixa6  + 1
        print("$700 - $799: {}".format(qtd_funcionarios_faixa6))
    
    elif salario < 900:
        qtd_funcionarios_faixa7 = qtd_funcionarios_faixa7  + 1
        print("$800 - $899: {}".format(qtd_funcionarios_faixa7))

    elif salario < 1000:
        qtd_funcionarios_faixa8 = qtd_funcionarios_faixa8  + 1
        print("$900 - $999: {}".format(qtd_funcionarios_faixa8))

    elif salario >= 1000:
        qtd_funcionarios_faixa9 = qtd_funcionarios_faixa9  + 1
        print("$1000 em diante: {}".format(qtd_funcionarios_faixa9))

$200 - $299: 1
$300 - $399: 1
$400 - $499: 1
$500 - $599: 1
$600 - $699: 1
$700 - $799: 1
$600 - $699: 2
$600 - $699: 3
$500 - $599: 2